<!-- Nav -->
<nav class="navbar navbar-expand-lg navbar-light mainNav" [class.shadow]="isOpen">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/assets/timechain-logo.svg" alt="timechain" />
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="openNav()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive" #navbarResponsive>
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a class="nav-link social-media linkedin" href="https://www.linkedin.com/company/timechaindotcom/" target="_blank">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link social-media twitter" href="https://twitter.com/Timechaindotcom/" target="_blank">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link social-media facebook" href="https://www.facebook.com/Timechaindotcom/" target="_blank">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link social-media telegram" href="https://t.me/timechaindotcomgroup" target="_blank">
            <i class="fab fa-telegram-plane" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link social-media instagram" href="https://www.instagram.com/timechaindotcom/" target="_blank">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link social-media medium" href="https://medium.com/timechain" target="_blank">
            <i class="fab fa-medium" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-item btn">
          <a class="whitepaper" href="/docs/whitepaper.pdf" (click)="trackEvent('White Paper', 'Document Download')"
            target="_blank">White Paper</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="overlay" *ngIf="isOpen">
  <div class="overlay-menu">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link social-media linkedin" href="https://www.linkedin.com/company/timechaindotcom/" target="_blank">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link social-media twitter" href="https://twitter.com/Timechaindotcom/" target="_blank">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link social-media facebook" href="https://www.facebook.com/Timechaindotcom/" target="_blank">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link social-media telegram" href="https://t.me/timechaindotcomgroup" target="_blank">
          <i class="fab fa-telegram-plane" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link social-media instagram" href="https://www.instagram.com/timechaindotcom/" target="_blank">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link social-media medium" href="https://medium.com/timechain" target="_blank">
          <i class="fab fa-medium" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item btn">
        <a class="whitepaper" href="/assets/Timechain_ConceptWhitePaper.pdf" (click)="trackEvent('Concept Paper', 'Document Download')"
          target="_blank">Concept Paper</a>
      </li>
    </ul>
  </div>
</div>
