@import '../../../styles.scss';
// Styling for the navbar
.mainNav {
    padding-top: 45px;
    @include sans-serif-font;
    @include transition-all;
    &.shadow {
        box-shadow: 0 0 transparent !important;
    }
    &.navbar-light {
        .navbar-toggler {
            border: 0;
        }
        .navbar-toggler-icon {
            background-image: url('/assets/hamburger-icon.svg');
            width: 19px;
            height: 15px;
        }
    }
    .navbar-brand {
        color: $primary;
        @include sans-serif-font;
        &:focus,
        &:hover {
            color: darken($primary, .1);
        }
    }
    .navbar-nav {
        >li.nav-item {
            margin-top: 5px;
            &.btn {
                background-color: $primary;
                width: 140px;
                height: 36px;
                line-height: 22px;
                margin: 0 -9px 0 36px;
                a.whitepaper {
                    color: $white;
                    font: 500 16px $guillon-regular;
                    letter-spacing: 0.5px;
                    text-transform: none;
                    padding: 0;
                    &:hover {
                        color: $white;
                        text-decoration: none;
                    }
                }
                &:hover {
                    box-shadow: $dropshadow;
                }
            }
            >a.nav-link,
            >a.nav-link:focus {
                font-size: .9rem;
                font-weight: 700;
                text-transform: uppercase;
                color: $gray-900;
                &.social-media {
                    width: 30px;
                    height: 30px;
                    margin-right: 8px;
                    padding: 0;
                    .fa {
                        font-size: 21px;
                    }
                    svg {
                        font-size: 21px;
                    }
                }
                &:hover {
                    color: $gray-350;
                }
                &.active {
                    color: $gray-350;
                    &:hover {
                        color: $gray-350;
                    }
                }
            }
        }
    }
    @media(max-width:991px) {
        padding: 16px 25px;
        &.shadow {
            box-shadow: 0 2px 6px 1px rgba(116, 98, 98, 0.15) !important;
            .navbar-toggler-icon {
                background-image: url('/assets/close.svg');
                width: 19px;
                height: 15px;
            }
        }
        img {
            width: 130px;
            height: 24px;
        }
        .navbar-nav {
            >li.nav-item {
                display: flex;
                flex-direction: row;
                margin: 10px auto;
                width: 200px;
                &.btn {
                    display: block;
                    margin: 30px auto 0;
                }
            }
        }
    }
    @media (min-width: 992px) {
        border-color: transparent;
        background-color: transparent;
        .navbar-brand {
            color: $primary;
            &:focus,
            &:hover {
                color: $primary;
            }
        }
        .navbar-nav>li.nav-item>a.nav-link {
            padding: 0.5rem 1rem;
        }
        .navbar-nav>li.nav-item>a.nav-link,
        .navbar-nav>li.nav-item>a.nav-link:focus {
            color: $primary;
            &:hover {
                color: $gray-350;
            }
        }
        &.navbar-shrink {
            border-bottom: 1px solid fade-out($gray-900, .9);
            background-color: $white;
            .navbar-brand {
                color: $primary;
                &:focus,
                &:hover {
                    color: darken($primary, .1);
                }
            }
            .navbar-nav>li.nav-item>a.nav-link,
            .navbar-nav>li.nav-item>a.nav-link:focus {
                color: $gray-900;
                &:hover {
                    color: $primary;
                }
            }
        }
    }
}

@media(max-width:991px) {
    .overlay {
        position: absolute;
        top: 88px;
        height: 100%;
        background-color: $white;
        width: 100%;
        .overlay-menu {
            margin: 45px auto 0;
            width: 215px;
            .navbar-nav {
                display: flex;
                flex-direction: row;
                >li.nav-item {
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 20px;
                    a {
                        color: $primary;
                        text-decoration: none;
                    }
                    &.btn {
                        background-color: $primary;
                        width: 140px;
                        height: 36px;
                        line-height: 22px;
                        position: absolute;
                        left: 50%;
                        margin-left: -70px;
                        margin-top: px;
                        top: 130px;
                        display: block;
                        a.whitepaper {
                            color: $white;
                            font: 500 16px $guillon-regular;
                            letter-spacing: 0.5px;
                            text-transform: none;
                            padding: 0;
                            &:hover {
                                color: $white;
                                text-decoration: none;
                            }
                        }
                    }
                    span {
                        margin-top: 2px;
                        font: 18px/1.44 $guillon-regular;
                        color: $primary;
                    }
                    >a.nav-link,
                    >a.nav-link:focus {
                        font-size: .9rem;
                        font-weight: 700;
                        text-transform: uppercase;
                        color: $gray-900;
                        &.social-media {
                            width: 30px;
                            height: 30px;
                            margin-right: 18px;
                            .fa,
                            svg {
                                font-size: 21px;
                                color: $primary;
                            }
                            &.telegram {
                                color: $primary;
                                &:hover {
                                    color: $gray-350;
                                }
                            }
                        }
                        &:hover {
                            color: $gray-350;
                            .fa,
                            svg {
                                color: $gray-350;
                            }
                        }
                        &.active {
                            color: $gray-350;
                            &:hover {
                                color: $gray-350;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(min-width:992px) {
    .overlay {
        display: none;
    }
}