<!-- Header -->
<header class="masthead">
  <div class="container">
    <h1>Buy. Sell. Trade. Hold. In One App.</h1>
    <p class="subtitle">Integrated digital asset management to save you time and money.</p>

    <div class="action-button">
      <a (click)="openDialog('Newsletter Step 1', 'Newsletter', null, null)">
        <img src="/assets/email.svg">
        <span>Get beta access</span>
      </a>
      <a href="https://t.me/timechaindotcomgroup" target="_blank" class="telegram" (click)="trackEvent('Telegram Group', 'Community')">
        <i class="fab fa-telegram-plane" aria-hidden="true"></i>
        <span>Join our Telegram</span>
      </a>
    </div>
  </div>
</header>

<!-- About -->
<section class="bg-primary about" id="about">
  <div class="container">
    <div class="box" *ngFor="let info of infos; let even = even, let last = last" [class.left]="even" [class.right]="!even" [class.last]="last">
      <img src="/assets/{{info.img}}.svg" alt="payment" />
      <div class="content">
        <h2 class="section-heading">{{info.title}}</h2>
        <p class="text">{{info.text}}</p>
      </div>
    </div>
  </div>
</section>

<!-- Companies -->
<section class="companies">
  <div class="container">
    <h2 class="section-heading">Timechain will support</h2>
    <div class="logos">
      <div class="logo" *ngFor="let logo of logos">
        <img src="/assets/{{logo.path}}.svg" alt="{{logo.name}}" class="{{logo.name}}" />
      </div>
    </div>
  </div>
</section>

<!-- Team -->
<section class="team">
  <div class="container">
    <h2 class="section-heading">The executive team</h2>
    <div class="team-wraper">

      <div class="team-box" *ngFor="let member of teamMembers">
        <img src="/assets/{{member.photo}}.png" alt="{{member.photo}}" />
        <div class="data">
          <h3><a style="color:#3647c6;" href="{{ member.linkedin }}" target="_blank">{{ member.name}}</a></h3>
          <p>{{ member.title}}</p>
          <a href="{{member.linkedin}}" target="_blank">
            <img class="linkedin" src="/assets/linkedin.svg" alt="linkedin" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Advisors -->
<section class="team advisor">
  <div class="container">
    <h2 class="section-heading">Advisors</h2>

    <div class="team-wraper">
      <div class="team-box" *ngFor="let advisor of advisors">
        <img src="/assets/{{advisor.photo}}.png" alt="{{advisor.photo}}" />
        <div class="data">
          <h3><a style="color:#3647c6;" href="{{ advisor.linkedin }}" target="_blank">{{advisor.name}}</a></h3>
          <p>{{advisor.title}}</p>
          <a href="{{advisor.linkedin}}" target="_blank">
            <img class="linkedin" src="/assets/linkedin.svg" alt="linkedin" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
