@import '../../../styles.scss';
// Styling for the masthead
header.masthead {
    padding-top: 120px;
    padding-bottom: calc(10rem - 56px);
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    h1 {
        font-size: 56px;
        font-family: $guillon-demi;
        color: $light-black;
    }
    p {
        font-weight: 300;
    }
    .subtitle {
        margin-top: 12px;
        font-family: $guillon-regular;
        font-size: 32px;
        font-weight: 300;
        line-height: 1.25;
        color: $black;
        max-width: 550px;
        text-align: center;
    }
    .action-button {
        margin-top: 45px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 550px;
        a {
            background: $primary;
            padding: 8px 20px;
            border-radius: 8px;
            font-size: 20px;
            font-family: $guillon-regular;
            img,
            svg {
                margin: -2px 17px 0 0;
                font-size: 24px;
                color: $white;
            }
            span {
                font-size: 21px;
                color: $white;
            }
            &:hover {
                box-shadow: $dropshadow;
                cursor: pointer;
                text-decoration: none;
            }
        }
    }
    .form {
        padding-top: 30px;
        input {
            width: 291px;
            height: 36px;
            border: 0;
            border-radius: 5px;
            background-color: $white;
            @include box-shadow-effect;
            padding: 8px;
        }
        .button {
            width: 207px;
            height: 36px;
            margin-left: 5px;
            padding-top: 6px;
            background-color: $primary;
            color: $white;
            border-radius: 5px;
            font-family: $guillon-regular;
            &:hover {
                cursor: pointer;
            }
        }
    }
    @media (min-width: 992px) {
        min-height: 650px;
        padding-top: 100px;
        padding-bottom: 0;
        h1 {
            font-size: 56px;
            font-family: $guillon-demi;
        }
    }
    @media (min-width: 1200px) {
        h1 {
            font-size: 56px;
            font-family: $guillon-demi;
        }
    }
    @media(max-width:991px) {
        padding-top: 30px;
        h1 {
            font-size: 42px;
            max-width: 220px;
        }
        .subtitle {
            font-size: 24px;
            max-width: 205px;
            ;
        }
        .action-button {
            margin-top: 45px;
            display: flex;
            flex-direction: column;
            width: auto;
            a {
                margin-bottom: 15px;
                &.telegram {
                    background-color: $white;
                    border: 1px solid $primary;
                    span,
                    img,
                    svg {
                        color: $primary;
                    }
                }
            }
        }
        .form {
            padding-top: 15px;
            display: flex;
            flex-direction: row;
            width: 300px;
            input {
                width: 207px;
                margin-bottom: 20px;
                border: 1px solid rgba(26, 26, 26, 0.25);
            }
            .button {
                margin: 0;
            }
        }
    }
    @media(min-width:460px) and (max-width: 991px) {
        h1 {
            max-width: 90%;
        }
        .subtitle {
            max-width: 80%;
        }
        .form {
            width: 400px;
            input {
                width: 300px;
            }
            .button {
                width: 300px;
            }
        }
    }
}

// Sections
.about {
    padding: 640px 0 0 0;
    background: url('/assets/content-bg.svg') no-repeat right 1160px;
    background-color: transparent !important;
    .box {
        width: 565px; //height: 383px;
        border-radius: 10px;
        background-color: $white;
        @include box-shadow-effect;
        margin-bottom: 115px;
        position: relative;
        img {
            position: absolute;
            top: -35px;
            left: 60px;
            width: 80px;
        }
        &.left {
            margin-left: 170px;
            margin-right: auto;
        }
        &.right {
            margin-right: 160px;
            margin-left: auto;
        }
        &.last {
            margin-bottom: 0;
        }
        .section-heading {
            margin-bottom: 15px;
        }
        .content {
            padding: 70px 55px 25px 60px;
            .text {
                color: $dark-black;
                font: 300 18px/1.42 $guillon-regular;
            }
        }
    }
    @media(max-width:991px) {
        padding: 375px 0 0 0;
        background: none;
        .box {
            width: 300px;
            img {
                width: 83px;
                height: 83px;
                top: -41px;
                left: 30px;
                ;
            }
            &.left {
                margin: 0 auto 70px;
            }
            &.right {
                margin: 0 auto 70px;
            }
            .section-heading {
                font: 24px/1.17 $guillon-demi;
            }
            .content {
                padding: 72px 32px 10px 32px !important;
                .text {
                    font: 300 18px/1.44 $guillon-regular;
                }
            }
        }
    }
    @media(min-width:670px) and (max-width: 991px) {
        padding: 325px 0 0 0;
        .box {
            width: 500px;
        }
    }
}

.companies {
    padding: 110px 0 60px 0;
    .container {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        .section-heading {
            margin-bottom: 50px;
        }
    }
    h2 {
        font: 19px $guillon-demi;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: $dark-black;
    }
    .logos {
        column-count: 5;
        column-gap: 55px;
        .logo {
            margin-bottom: 60px;
            .bitcoin {
                margin-top: 15px;
            }
            .bitcoin-cash {
                margin-left: 35px;
                margin-top: 12px;
            }
            .eos {
                margin-left: 43px;
            }
            .ethereum {
                margin-left: 24px;
            }
            .litecoin {
                margin-left: 45px;
                margin-top: -17px;
            }
            .ripple {
                margin-top: 16px;
                margin-left: 7px;
            }
            .stellar {
                margin-left: 34px;
            }
            .nem {
                margin-top: -14px;
                margin-left: 31px;
            }
            .cardano {
                margin-top: 5px;
                margin-left: 39px;
            }
            .neo {
                margin-left: 49px;
                margin-top: -7px;
            }
        }
    }
    h3 {
        font: 18px/1.44 $guillon-demi;
        letter-spacing: 0.5px;
        text-align: center;
        color: $dark-black;
    }
    @media(max-width:991px) {
        padding: 45px 0 60px 0;
        h2 {
            font: 18px $guillon-demi;
            max-width: 250px;
            text-align: center;
        }
        .logos {
            column-count: 2;
            column-gap: 55px;
            .stellar {
                margin-left: 42px !important;
                margin-top: 11px;
            }
            .bitcoin-cash {
                margin-left: 32px !important;
                margin-top: 3px !important;
            }
            .neo {
                margin-left: 49px;
                margin-top: 4px;
            }
            .ethereum {
                margin-left: 16px !important;
            }
            .litecoin {
                margin-left: 38px !important;
                margin-top: -17px;
            }
        }
    }
}

.team {
    padding-bottom: 65px;
    padding-top: 95px;
    background-color: $beige;
    &.advisor {
        padding-top: 95px;
        background-color: $white;
    }
    .section-heading {
        font: 42px/1.19 $guillon-demi;
        letter-spacing: 0.5px;
        text-align: center;
        color: $light-black;
    }
    .team-wraper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 935px;
        margin: 70px auto 0;
        .team-box {
            display: flex;
            flex-direction: row; //width: 37%;
            width: 365px;
            margin-right: 65px;
            margin-bottom: 60px;
            img {
                width: 120px;
                height: 120px;
            }
            .data {
                margin-left: 40px;
                margin-top: 10px;
                h3 {
                    font: 24px/1.08 $guillon-demi;
                    letter-spacing: 0.5px;
                    color: $primary;
                }
                p {
                    font: 18px $guillon-regular;
                    line-height: 1.44;
                    color: $dark-black;
                }
                a {
                    //background-color: $primary;
                    //width: 30px;
                    //height: 30px;
                    //background-color: $primary;
                    //border-radius: 100%;
                    //display: block;
                    //color: white;
                    //padding: 2px 0 0 9px;
                    //&:hover {
                    //    @include box-shadow-effect;
                    //}
                }
                .linkedin {
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
    @media(max-width:991px) {
        padding-top: 45px;
        .section-heading {
            font: 32px/1.16 $guillon-demi;
            max-width: 250px;
            text-align: center;
            margin: 0 auto;
        }
        .team-wraper {
            padding: 0 20px;
            width: 400px;
            margin: 70px 0;
            .team-box {
                margin-right: 0;
                padding-right: 25px;
                width: 315px;
                img {
                    width: 90px;
                    height: 90px;
                }
                .data {
                    margin-left: 25px;
                    h3 {
                        max-width: 150px;
                    }
                }
            }
        }
    }
}

.advisors {
    padding: 175px 0 350px 0;
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .section-heading {
            font: 42px $guillon-demi;
            letter-spacing: 0.5px;
            color: $light-black;
            margin-bottom: 37px;
        }
        .advisor-wraper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            max-width: 650px;
            .advisor-box {
                img {
                    width: 120px;
                    height: 120px;
                }
                display: flex;
                flex-direction: row;
                width: 40%;
                justify-content: space-between;
                margin: 0 65px 41px 0;
                .data {
                    margin-left: 25px;
                    h3 {
                        font: 24px/1.08 $guillon-demi;
                        letter-spacing: 0.5px;
                        color: $primary;
                        margin-bottom: 1px;
                    }
                    p {
                        font: 18px/1.44 $guillon-regular;
                        color: $dark-black;
                    }
                }
            }
        }
        a {
            background-color: $primary;
            width: 30px;
            height: 30px;
            background-color: $primary;
            border-radius: 100%;
            display: block;
            color: white;
            padding: 2px 0 0 8px;
            &:hover {
                @include box-shadow-effect;
            }
        }
    }
    @media(max-width:991px) {
        padding-top: 0;
        padding-bottom: 0;
        .container {
            .section-heading {
                text-align: center;
                font: 32px $guillon-demi;
            }
            .advisor-wraper {
                padding: 0 20px;
                max-width: 100%; //margin-left: 22px;
                .advisor-box {
                    width: 85%;
                }
            }
        }
    }
}