@import '../../../styles.scss';
#footer {
  background: url('/assets/tc-footer-bg.svg') no-repeat bottom;
  background-size: 100%;

  @media(max-width:991px) {
    background: none;
  }
  padding: 300px 0 320px;

  &.second-background {
    background: url('/assets/footer/tc-footer-bg.png') no-repeat bottom;
    padding: 0px 0 390px;
  }

  .container {
    p {
      font: 42px $guillon-demi;
      letter-spacing: 1px;
      text-align: center;
      color: $white;
      a {
        color: $white;
        text-decoration: underline;
      }
      &.normal-text {
        display: block;
      }
      &.mobile-text {
        display: none;
      }
    }
  }
  @media(max-width:991px) {
    padding: 210px 0 120px 0;
    background: url('/assets/footer-mobile-bg.svg') no-repeat center bottom;

    &.second-background {
      background: url('/assets/footer/footer-mobile-bg.png') no-repeat bottom;
      background-size: 100%;
      background-position: bottom;
      padding: 0px 0 165px 0;
      padding-bottom: calc(100% - 165px);
    }

    background-size: cover;
    .container {
      margin: 0 auto;
      p {
        font: 24px $guillon-regular;
        text-align: center;
        a {
          color: $white;
          text-decoration: underline;
        }
        &.normal-text {
          display: none;
        }
        &.mobile-text {
          display: block;
          line-height: 30px;
          .strong {
            font-weight: bold;
          }
        }
      }
    }
  }

  @media(min-width:992px) and (max-width:1420px){
    padding: 400px 0 200px 0;
  }
}
