<section id="footer" [ngClass]="{'second-background':currentLocation === '/not-found'}">
  <div class="container">
    <p class="normal-text">Connect with us today at <br /><a href="mailto:hello@timechain.com">hello@timechain.com</a></p>
    <p class="mobile-text">Connect with us
      <br />today at
      <br />
      <span class="strong">
        <a href="mailto:hello@timechain.com">hello@timechain.com</a>
      </span>
    </p>
  </div>
</section>
