@import '../styles.scss';
// Global styling for this template
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    @include serif-font;
}

a {
    color: $primary;
    @include transition-all;
    &:hover {
        color: darken($primary, .1);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include sans-serif-font;
}

.bg-primary {
    background-color: transparent !important;
}

section {
    padding: 8rem 0;
}

.section-heading {
    margin-top: 0;
    color: $black;
    font: 32px/1.16 $guillon-demi;
    letter-spacing: 1px;
    text-align: left;
    margin-bottom: 10px;
}

::-moz-selection {
    color: $white;
    background: $gray-900;
    text-shadow: none;
}

::selection {
    color: $white;
    background: $gray-900;
    text-shadow: none;
}

img::selection {
    color: $white;
    background: transparent;
}

img::-moz-selection {
    color: $white;
    background: transparent;
}

// Bootstrap overrides for this template
@media (min-width: 1200px) {
    .container {
        max-width: 1300px;
    }
}