@import '../../../styles.scss';
// Styling for the masthead
header.masthead {
    padding-top: 120px;
    padding-bottom: calc(10rem - 56px);
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    h1 {
        font-size: 56px;
        font-family: $guillon-demi;
        color: $light-black;
    }
    p {
        font-weight: 300;
    }
    .subtitle {
        margin-top: 12px;
        font-family: $guillon-regular;
        font-size: 32px;
        font-weight: 300;
        line-height: 1.25;
        color: $black;
        max-width: 550px;
        text-align: center;
    }
    .action-button {
        margin-top: 45px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 550px;
        a {
            background: $primary;
            padding: 8px 20px;
            border-radius: 8px;
            font-size: 20px;
            font-family: $guillon-regular;
            img,
            svg {
                margin: -2px 17px 0 0;
                font-size: 24px;
                color: $white;
            }
            span {
                font-size: 21px;
                color: $white;
            }
            &.telegram {
                background-color: $white;
                border: 1px solid $primary;
                span,
                img,
                svg {
                    color: $primary;
                }
                &:hover {
                    background-color: $primary;
                    span,
                    img,
                    svg {
                        color: $white;
                    }
                }
            }
            &:hover {
                box-shadow: $dropshadow;
                cursor: pointer;
                text-decoration: none;
            }
        }
    }
    .form {
        padding-top: 30px;
        input {
            width: 291px;
            height: 36px;
            border: 0;
            border-radius: 5px;
            background-color: $white;
            @include box-shadow-effect;
            padding: 8px;
        }
        .button {
            width: 207px;
            height: 36px;
            margin-left: 5px;
            padding-top: 6px;
            background-color: $primary;
            color: $white;
            border-radius: 5px;
            font-family: $guillon-regular;
            &:hover {
                cursor: pointer;
            }
        }
    }
    @media (min-width: 992px) {
        min-height: 650px;
        padding-top: 100px;
        padding-bottom: 0;
        h1 {
            font-size: 56px;
            font-family: $guillon-demi;
        }
    }
    @media (min-width: 1200px) {
        h1 {
            font-size: 56px;
            font-family: $guillon-demi;
        }
    }
    @media(max-width:991px) {
        padding-top: 30px;
        h1 {
            font-size: 42px;
            max-width: 220px;
        }
        .subtitle {
            font-size: 24px;
            max-width: 205px;
            ;
        }
        .action-button {
            margin-top: 45px;
            display: flex;
            flex-direction: column;
            width: auto;
            a {
                margin-bottom: 15px;
                &.telegram {
                    background-color: $white;
                    border: 1px solid $primary;
                    span,
                    img,
                    svg {
                        color: $primary;
                    }
                }
            }
        }
        .form {
            padding-top: 15px;
            display: flex;
            flex-direction: row;
            width: 300px;
            input {
                width: 207px;
                margin-bottom: 20px;
                border: 1px solid rgba(26, 26, 26, 0.25);
            }
            .button {
                margin: 0;
            }
        }
    }
    @media(min-width:460px) and (max-width: 991px) {
        h1 {
            max-width: 90%;
        }
        .subtitle {
            max-width: 80%;
        }
        .form {
            width: 400px;
            input {
                width: 300px;
            }
            .button {
                width: 300px;
            }
        }
    }
}