<h1 mat-dialog-title>Limited time offer to join the Timechain beta</h1>
<div mat-dialog-content>
  <img src="/assets/close-modal.svg" alt="close" class="close" (click)="onNoClick(null,null)" />
  <p>Sign up for your exclusive access code to the Timechain beta program and receive free Timechain tokens in your wallet.</p>
  <div class="form">
    <form action="https://timechain.us17.list-manage.com/subscribe/post?u=b1b119829408142982ebf5095&id=c7b358c1fc" class="validate" id="mc-embedded-subscribe-form" method="post" name="mc-embedded-subscribe-form" novalidate="" onsubmit="this.submit()" target="_blank" _lpchecked="1">
      <div id="mc_embed_signup_scroll">
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email" required (input)="validateEmail($event)">
        <div aria-hidden="true" style="position: absolute; left: -5000px;">
          <input name="b_b1b119829408142982ebf5095_c7b358c1fc" tabindex="-1" type="text" value="">
        </div>
        <span class="error-message visible-xs">{{ errorMessage }}</span>
        <input type="submit" value="Sign me up" name="subscribe" id="mc-embedded-subscribe" class="button" (click)="onNoClick('Newsletter Step 2', 'Newsletter')" [disabled]="isDisabled" [class.disabled]="isDisabled">
        <span class="error-message hidden-xs">{{ errorMessage }}</span>
      </div>
      <!-- this group will be used after beta CTA <input type="hidden" value="8" name="group[19103]‌‌‌[8]" id="mce-group[19103]-19103-0"> -->
      <input type="hidden" value="16" name="group[19103]‌‌‌[16]" id="mce-group[19103]-19103-1"><!-- send users to beta mailing list -->
    </form>
  </div>
</div>
