@import '../../../styles.scss';

$send_button_size: 108px;
$send_margin_left: 5px;
// Styling for dialog
/deep/ .mat-dialog-container {

  .hidden-xs{
    @media(max-width: 600px) {
      display: none;
    }
  }

  .visible-xs{
    display: none;
    @media(max-width: 600px) {
      display: inherit;
    }
  }

  max-width: 620px;
  border-radius: 10px;
  padding: 40px;
  position: relative;
  .close {
    position: absolute;
    right: 0px;
    top: 0px;
    margin-right: 40px;
    margin-top: 40px;
    opacity: 1;
    &:hover {
      cursor: pointer;
    }

    @media(max-width: 600px) {
      margin-right: 20px;
      margin-top: 20px;
    }
  }

  @media(max-width: 600px) {
    padding: 20px;
  }
}

.mat-dialog-title {
  padding: 0px 20px 20px 0px;
  margin-bottom: 0;
  font: 32px $guillon-demi;
  line-height: 37px;
  letter-spacing: 1px;
  @media(max-width: 991px) {
    font-size: 22px;
  }
  @media(max-width: 600px) {
    line-height: 26px;
  }
}

.mat-dialog-content {
  margin: 0 -20px;
  p {
    padding-right: 20px;
    font: 24px $guillon-light;
    line-height: 34px;
    @media(max-width: 991px) {
      font-size:16px;
    }
    @media(max-width: 600px) {
      line-height: 22px;
    }
  }
  .form {
    padding-top: 15px;
    padding-bottom: 2px;
    @media(max-width: 991px) {
      padding-top:10px;
    }

    .close {
      position: absolute;
      right: 0px;
      top: 0px;
    }

    .error-message{
      line-height: 30px;
      font-style: italic;
      color: red;
    }

    input {
      width: calc(100% - #{$send_button_size} - 5px);
      height: 36px;
      border: 0;
      border-radius: 5px;
      background-color: $white;
      @include box-shadow-effect;
      padding: 8px;
      @media(max-width: 991px) {
        border: 1px solid rgba(26, 26, 26, 0.25);
      }
      @media(max-width: 600px) {
        width: 100%;
      }
    }
    .button {
      width: $send_button_size;
      height: 36px;
      padding-top: 8px;
      background-color: $primary;
      color: $white;
      border-radius: 5px;
      border: 0;
      font-family: $guillon-light;
      &:hover {
        @include box-shadow-effect;
        cursor: pointer;
      }

      @media(max-width: 600px) {
        width: 100%;
        margin-top: 10px;
      }
    }
  }
}
