// Colors
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-350:#cdcdcd !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$beige: #f8f8f8 !default;
$light-black: #1a1a1a;
$black: #000 !default;
$dark-black: #242424;
$primary: #3647c6 !default;
$error-message:#de0909 !default;
//Shadow
$dropshadow: 0 2px 6px 1px rgba(0, 0, 0, 0.25);
// Mixins
@mixin transition-all() {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

@mixin background-cover() {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@mixin serif-font() {
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

@mixin sans-serif-font() {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

@mixin box-shadow-effect() {
    box-shadow: 0 2px 6px 1px rgba(116, 98, 98, 0.15);
    -webkit-box-shadow: 0 2px 6px 1px rgba(116, 98, 98, 0.15);
    -moz-box-shadow: 0 2px 6px 1px rgba(116, 98, 98, 0.15);
}

// Fonts
@font-face {
    font-family: 'Guillon-DemiItalic';
    src: url('/assets/fonts/Guillon-DemiItalic.eot');
    src: url('/assets/fonts/Guillon-DemiItalic.woff2') format('woff2'), url('/assets/fonts/Guillon-DemiItalic.woff') format('woff'), url('/assets/fonts/Guillon-DemiItalic.ttf') format('truetype'), url('/assets/fonts/Guillon-DemiItalic.svg#Guillon-DemiItalic') format('svg'), url('/assets/fonts/Guillon-DemiItalic.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Guillon-Demi';
    src: url('/assets/fonts/Guillon-Demi.eot');
    src: url('/assets/fonts/Guillon-Demi.woff2') format('woff2'), url('/assets/fonts/Guillon-Demi.woff') format('woff'), url('/assets/fonts/Guillon-Demi.ttf') format('truetype'), url('/assets/fonts/Guillon-Demi.svg#Guillon-Demi') format('svg'), url('/assets/fonts/Guillon-Demi.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Guillon-Italic';
    src: url('/assets/fonts/Guillon-Italic.eot');
    src: url('/assets/fonts/Guillon-Italic.woff2') format('woff2'), url('/assets/fonts/Guillon-Italic.woff') format('woff'), url('/assets/fonts/Guillon-Italic.ttf') format('truetype'), url('/assets/fonts/Guillon-Italic.svg#Guillon-Italic') format('svg'), url('/assets/fonts/Guillon-Italic.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Guillon-BlackItalic';
    src: url('/assets/fonts/Guillon-BlackItalic.eot');
    src: url('/assets/fonts/Guillon-BlackItalic.woff2') format('woff2'), url('/assets/fonts/Guillon-BlackItalic.woff') format('woff'), url('/assets/fonts/Guillon-BlackItalic.ttf') format('truetype'), url('/assets/fonts/Guillon-BlackItalic.svg#Guillon-BlackItalic') format('svg'), url('/assets/fonts/Guillon-BlackItalic.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Guillon-Black';
    src: url('/assets/fonts/Guillon-Black.eot');
    src: url('/assets/fonts/Guillon-Black.woff2') format('woff2'), url('/assets/fonts/Guillon-Black.woff') format('woff'), url('/assets/fonts/Guillon-Black.ttf') format('truetype'), url('/assets/fonts/Guillon-Black.svg#Guillon-Black') format('svg'), url('/assets/fonts/Guillon-Black.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Guillon-Bold';
    src: url('/assets/fonts/Guillon-Bold.eot');
    src: url('/assets/fonts/Guillon-Bold.woff2') format('woff2'), url('/assets/fonts/Guillon-Bold.woff') format('woff'), url('/assets/fonts/Guillon-Bold.ttf') format('truetype'), url('/assets/fonts/Guillon-Bold.svg#Guillon-Bold') format('svg'), url('/assets/fonts/Guillon-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Guillon-BoldItalic';
    src: url('/assets/fonts/Guillon-BoldItalic.eot');
    src: url('/assets/fonts/Guillon-BoldItalic.woff2') format('woff2'), url('/assets/fonts/Guillon-BoldItalic.woff') format('woff'), url('/assets/fonts/Guillon-BoldItalic.ttf') format('truetype'), url('/assets/fonts/Guillon-BoldItalic.svg#Guillon-BoldItalic') format('svg'), url('/assets/fonts/Guillon-BoldItalic.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Guillon-LightItalic';
    src: url('/assets/fonts/Guillon-LightItalic.eot');
    src: url('/assets/fonts/Guillon-LightItalic.woff2') format('woff2'), url('/assets/fonts/Guillon-LightItalic.woff') format('woff'), url('/assets/fonts/Guillon-LightItalic.ttf') format('truetype'), url('/assets/fonts/Guillon-LightItalic.svg#Guillon-LightItalic') format('svg'), url('/assets/fonts/Guillon-LightItalic.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Guillon-Light';
    src: url('/assets/fonts/Guillon-Light.eot');
    src: url('/assets/fonts/Guillon-Light.woff2') format('woff2'), url('/assets/fonts/Guillon-Light.woff') format('woff'), url('/assets/fonts/Guillon-Light.ttf') format('truetype'), url('/assets/fonts/Guillon-Light.svg#Guillon-Light') format('svg'), url('/assets/fonts/Guillon-Light.eot?#iefix') format('embedded-opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Guillon-Thin';
    src: url('/assets/fonts/Guillon-Thin.eot');
    src: url('/assets/fonts/Guillon-Thin.woff2') format('woff2'), url('/assets/fonts/Guillon-Thin.woff') format('woff'), url('/assets/fonts/Guillon-Thin.ttf') format('truetype'), url('/assets/fonts/Guillon-Thin.svg#Guillon-Thin') format('svg'), url('/assets/fonts/Guillon-Thin.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Guillon-ThinItalic';
    src: url('/assets/fonts/Guillon-ThinItalic.eot');
    src: url('/assets/fonts/Guillon-ThinItalic.woff2') format('woff2'), url('/assets/fonts/Guillon-ThinItalic.woff') format('woff'), url('/assets/fonts/Guillon-ThinItalic.ttf') format('truetype'), url('/assets/fonts/Guillon-ThinItalic.svg#Guillon-ThinItalic') format('svg'), url('/assets/fonts/Guillon-ThinItalic.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Guillon-Regular';
    src: url('/assets/fonts/Guillon-Regular.eot');
    src: url('/assets/fonts/Guillon-Regular.woff2') format('woff2'), url('/assets/fonts/Guillon-Regular.woff') format('woff'), url('/assets/fonts/Guillon-Regular.ttf') format('truetype'), url('/assets/fonts/Guillon-Regular.svg#Guillon-Regular') format('svg'), url('/assets/fonts/Guillon-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

// Fonts
$guillon-regular: 'Guillon-Regular',
'Helvetica Neue',
Arial,
sans-serif;
$guillon-demi: 'Guillon-Demi',
'Helvetica Neue',
Arial,
sans-serif;
$guillon-light: 'Guillon-Light',
'Helvetica Neue',
Arial,
sans-serif;
