<section class="not-found" id="not-found">
  <div class="container">
    <h2>
      404
    </h2>

    <p>
      Oops, it looks like that page doesn’t exist.
    </p>

    <a href="#">Go back home</a>
  </div>
</section>