@import '../../../styles.scss';

.not-found {
  padding-top: 70px;
  h2,
  a,
  p {
    text-align: center;
  }
  h2 {
    color: $dark-black;
    font-family: $guillon-regular;
    font-size: 250px;
    letter-spacing: 5px;
    margin: 0;
    height: 277px;
  }
  p {
    font-family: $guillon-light;
    font-size: 24px;
    color: $dark-black;
    font-weight: 300;
    line-height: 1.42
  }
  a {
    font-size: 20px;
    font-family: $guillon-regular;
    color: $white;
    margin: 30px auto 0px auto;
    background-color: $primary;
    border-radius: 8px;
    padding: 10px;
    display: block;
    width: 174px;
    &:hover {
      text-decoration: none;
      box-shadow: $dropshadow;
      cursor: pointer;
    }
  }

  @media(max-width: 991px) {
    h2 {
      font-size: 100px;
      height: 110px;
    }
    p{
      font-size: 18px;
      margin: 0 auto;
      max-width: 220px;
    }
  }
}
